<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>Africa</h1>
                <p>Heading to Marrakesh? Or maybe you're planning a trip down the Nile? Get the lowdown on every destination</p>
                <div class="user-actions">
                    <a href="/itineraries/new" class="control-button">Add itinerary</a>
                </div>
            </section>
            <section id="index">
                <% allItineraries.forEach(itinerary=> { %>
                    <% if (itinerary.continent === "Africa") { %>
                    <div class="itinerary-item">
                        <a href="/itineraries/<%= itinerary.id %>">
                            <div class="img-placeholder">
                                <% if (itinerary.images && itinerary.images.length> 0) { %>
                                    <img src="<%= itinerary.images[0] %>" alt="Image of <%= itinerary.destination %>">
                                    <% } %>
                            </div>
                            <div class="itinerary-info">
                                <%= itinerary.destination %> by <%= itinerary.contributor.username %>
                            </div>
                        </a>
                    </div>
                    <% } %>
                    <% }) %>
            </section>
    </body>

</html>