<!DOCTYPE html>
<html lang="en">
 <% include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
        <h1>Edit your itinerary</h1>
        <form action="/itineraries/<%= itinerary._id%>?_method=PUT" method="POST">
        <div>
            <label for="destination">Destination</label>
            <input type="text" name="name" id="name" required value="<%=itinerary.destination%>">
        </div>
        <div>
            <label for="contributor">Contributor</label>
            <input type="text" name="contributor" id="contributor" required value="<%=itinerary.contributor%>">
        </div>
        <div>
            <label for="timeOfYear">Time of year</label>
            <input type="text" name="timeOfYear" id="timeOfYear" required value="<%=itinerary.timeOfYear%>">
        </div>
        <div>
            <label for="morning">Morning</label>
            <textarea id="morning" name="morning" required value="<%=itinerary.morning%>"></textarea>
        </div>
        <div>
            <label for="afternoon">Afternoon</label>
            <textarea id="afternoon" name="afternoon" required value="<%=itinerary.afternoon%>"></textarea>
        </div>
        <div>
            <label for="evening">Evening</label>
            <textarea id="evening" name="evening" required value="<%=itinerary.evening%>"></textarea>
        </div>
        <button type="submit" class="control-button">Update</button>
    </form>
</body>

</html>