<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>Itineraries</h1>
                <p>Start planning your next trip</p>
                <div class="user-actions">
                    <a href="/itineraries/new" class="control-button">Add itinerary</a>
                </div>
            </section>
            <section id="index">
                <% allItineraries.forEach(itinerary=> { %>
                    <div class="itinerary-item">
                        <a href="/itineraries/<%= itinerary.id %>">
                            <div class="img-placeholder">
                                <img src="<%= itinerary.image %>">
                            </div>
                            <div class="itinerary-info">
                                <%= itinerary.destination %> by <%= itinerary.contributor.username %>
                            </div>
                        </a>
                    </div>
                    <% }) %>
            </section>
    </body>

</html>