<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
        <section id="page-title">
            <h1>Itineraries</h1>
            <p>Start planning your next trip</p>
        <a href="/itineraries/new" class="control-button">Add itinerary</a>
        </section>
        <section>
             <ul>
                <% allItineraries.forEach(itinerary=> { %>
                    <li>
                        <a href="/itineraries/<%= itinerary.id %>">
                        <%= itinerary.destination %> by <%= itinerary.contributor.username %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
    </body>

</html>