<!DOCTYPE html>
<html lang="en">
<% include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>
                    <%= itinerary.destination %>
                </h1>
                <p>By <%= itinerary.contributor.username %>
                </p>
                <div class="user-actions">
                    <% if (user && itinerary.contributor.equals(user._id)) { %>
                        <a href="/itineraries/<%= itinerary._id %>/edit" class="control-button"> Edit</a>
                        <form action="/itineraries/<%= itinerary._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="control-button">Delete</button>
                        </form>
                        <% } else { %>
                            <% if (user) { %>
                                <% if (userHasLiked) { %>
                                    <form
                                        action="/itineraries/<%= itinerary._id %>/liked-by/<%= user._id %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="control-button">Unsave</button>
                                    </form>
                                    <% } else { %>
                                        <form action="/itineraries/<%= itinerary._id %>/liked-by/<%= user._id %>"
                                            method="POST">
                                            <button type="submit" class="control-button">Save</button>
                                        </form>
                                        <% } %>
                                            <% } %>
                                             <% } %>
                </div>
            </section>
            <main class="page-content">
                <div class="content-wrapper">
                    <div class="text-column">
                        <p><strong>
                                <%= itinerary.timeOfYear %>
                            </strong>
                        </p>
                        <ul>
                            <li>
                                Morning: <%= itinerary.morning %>
                            </li>
                            <li>
                                Afternoon: <%= itinerary.afternoon %>
                            </li>
                            <li>
                                Evening: <%= itinerary.evening %>
                            </li>
                        </ul>
                        <p>
                            Comments:
                        </p>
                    </div>
                    <div class="image-column">
                        <img src="<%= itinerary.image %>" alt="Descriptive alt text">
                    </div>
                </div>
            </main>
    </body>

</html>