<!DOCTYPE html>
<html lang="en">
<% include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>
                    <%= itinerary.destination %>
                </h1>
                <p>By <%= itinerary.contributor.username %>
                </p>
                <div class="user-actions">
                    <a href="/itineraries" class="control-button">View all</a>
                    <% if (user && itinerary.contributor.equals(user._id)) { %>
                        <a href="/itineraries/<%= itinerary._id %>/edit" class="control-button"> Edit</a>
                        <form action="/itineraries/<%= itinerary._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="control-button">Delete</button>
                        </form>
                        <% } else { %>
                            <% if (user) { %>
                                <% if (userHasLiked) { %>
                                    <form
                                        action="/itineraries/<%= itinerary._id %>/liked-by/<%= user._id %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="control-button">Unsave</button>
                                    </form>
                                    <% } else { %>
                                        <form action="/itineraries/<%= itinerary._id %>/liked-by/<%= user._id %>"
                                            method="POST">
                                            <button type="submit" class="control-button">Save</button>
                                        </form>
                                        <% } %>
                                            <% } %>
                                                <% } %>
                </div>
            </section>
            <main class="page-content">
                <div class="content-wrapper">
                    <div class="text-column">
                        <p><strong>
                                <%= itinerary.timeOfYear %>
                            </strong>
                        </p>
                        <p>
                            Morning
                        </p>
                        <div id="itinerary-content">
                            <%= itinerary.morning %>
                        </div>
                        <p>
                            Afternoon
                        </p>
                        <div id="itinerary-content">
                            <%= itinerary.afternoon %>
                        </div>
                        <p>
                            Evening
                        </p>
                        <div id="itinerary-content">
                            <%= itinerary.evening %>
                        </div>
                        <% if (user && !itinerary.contributor.equals(user._id)) { %>
                            <form class="form" action="/itineraries/<%= itinerary._id %>/comments" method="POST">
                                <label for="comment">Comment:</label>
                                <textarea name="comment" id="comment" required></textarea>
                                <button type="submit" class="control-button">Post</button>
                            </form>
                            <% } %>
                    </div>
                    <div class="image-column">
                        <% itinerary.images.forEach((imageUrl)=> { %>
                            <img src="<%= imageUrl %>" alt="Itinerary image">
                            <% }) %>
                    </div>
                </div>
            </main>
    </body>

</html>