<!DOCTYPE html>
<html lang="en">
<% include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>
                <%= itinerary.destination %>
                </h1>
                <p>By <%= itinerary.contributor %>
                </p>
                <div class="controls">
                    <a href="/itineraries/<%= itinerary._id %>/edit" class="control-button"> Edit</a>
                    <form action="/itineraries/<%= itinerary._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="control-button">Delete</button>
                </form>
                </div>
            </section>
            <h3>
                 <%= itinerary.timeOfYear %>
            </h3>
            <ul>
                <li>
                    Morning: <%= itinerary.morning %>
                </li>
                <li>
                    Afternoon: <%= itinerary.afternoon %>
                </li>
                <li>
                    Evening: <%= itinerary.evening %>
                </li>
            </ul>
            <p>
                Comments:
            </p>
    </body>

</html>