<!DOCTYPE html>
<html lang="en">
<% include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>
                    <%= itinerary.destination %>
                </h1>
                <p>By <%= itinerary.contributor.username %>
                </p>
                <div class="user-actions">
                    <% if (user && itinerary.contributor.equals(user._id)) { %>
                        <a href="/itineraries/<%= itinerary._id %>/edit" class="control-button"> Edit</a>
                        <form action="/itineraries/<%= itinerary._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="control-button">Delete</button>
                        </form>
                        <% } else { %>
                            <% if (user) { %>
                                <a href="/itineraries" class="control-button">View all</a>
                                <% if (userHasLiked) { %>
                                    <form
                                        action="/itineraries/<%= itinerary._id %>/liked-by/<%= user._id %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class="control-button">Unsave</button>
                                    </form>
                                    <% } else { %>
                                        <form action="/itineraries/<%= itinerary._id %>/liked-by/<%= user._id %>"
                                            method="POST">
                                            <button type="submit" class="control-button">Save</button>
                                        </form>
                                        <% } %>
                                            <% } %>
                                                <% } %>
                                                    <div class="likes-info">
                                                        <img src="https://res.cloudinary.com/<%= CLOUD_NAME %>/image/upload/v1753375961/Heart_icon_for_user_likes_is3wrh.png"
                                                            class="likes-pic" alt="Pink heart icon">
                                                        <%= itinerary.likedbyUsers.length %>
                                                    </div>
                </div>
            </section>
            <div class="subtitle">
                <strong>
                    <%= itinerary.timeOfYear %>
                </strong>
            </div>
            <main class="page-content">
                <div class="content-wrapper">
                    <div class="text-column">
                        <p>Morning</p>
                        <div id="itinerary-content">
                            <%= itinerary.morning %>
                        </div>
                        <p>Afternoon</p>
                        <div id="itinerary-content">
                            <%= itinerary.afternoon %>
                        </div>
                        <p>Evening</p>
                        <div id="itinerary-content">
                            <%= itinerary.evening %>
                        </div>

                        <% if (user && !itinerary.contributor.equals(user._id)) { %>
                            <form class="form" action="/itineraries/<%= itinerary._id %>/comments" method="POST">
                                <label for="comment">Comment:</label>
                                <textarea name="comment" id="comment" required></textarea>
                                <button type="submit" class="control-button">Post</button>
                            </form>
                            <% } %>

                                <% itinerary.comments.forEach(comment=> { %>
                                    <div class="comment">
                                        <div class="comment-info">
                                            <% if (comment.user.profileImage) { %>
                                                <img src="<%= comment.user.profileImage %>" alt="User image"
                                                    class="comments-pic" />
                                                <% } %>
                                                    <strong>
                                                        <%= comment.user.username %>
                                                    </strong>
                                                    <% if (user && comment.user._id.equals(user._id)) { %>
                                                        <form
                                                            action="/itineraries/<%= itinerary._id %>/comments/<%= comment._id %>?_method=DELETE"
                                                            method="POST" style="display:inline;">
                                                            <button type="submit" class="control-button">Delete</button>
                                                        </form>
                                                        <% } %>
                                        </div>
                                        <p>
                                            <%= comment.comment %>
                                        </p>
                                    </div>
                                    <% }) %>
                    </div>

                    <div class="image-column">
                        <% itinerary.images.forEach(imageUrl=> { %>
                            <img src="<%= imageUrl %>" alt="Itinerary image">
                            <% }) %>
                    </div>
                </div>
            </main>
    </body>

</html>