<!DOCTYPE html>
<html lang="en">
<% include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>
                    <%= user.username %>
                </h1>
                <img src="<%= user.profileImage %>" class="profile-pic" />
                <div class="user-actions">
                    <a href="/itineraries/new" class="control-button">Add itinerary</a>
                </div>
            </section>
            <main class="page-content">
                <h2>My itineraries</h2>
                <section id="index">
                    <% myItineraries.forEach(itinerary=> { %>
                        <div class="itinerary-item">
                            <a href="/itineraries/<%= itinerary._id %>">
                                <div class="img-placeholder">
                                    <% if (itinerary.images && itinerary.images.length> 0) { %>
                                        <img src="<%= itinerary.images[0] %>"
                                            alt="Image of <%= itinerary.destination %>">
                                        <% } %>
                                </div>
                                <div class="itinerary-info">
                                    <%= itinerary.destination %> by <%= itinerary.contributor.username %>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                </section>
                <h2>Saved</h2>
                <% if (likedItineraries.length===0) { %>
                    <p>You haven't saved any itineraries yet</p>
                    <% } %>
                        <section id="index">
                            <% likedItineraries.forEach(itinerary=> { %>
                                <div class="itinerary-item">
                                    <a href="/itineraries/<%= itinerary._id %>">
                                        <div class="img-placeholder">
                                            <% if (itinerary.images && itinerary.images.length> 0) { %>
                                                <img src="<%= itinerary.images[0] %>"
                                                    alt="Image of <%= itinerary.destination %>">
                                                <% } %>
                                        </div>
                                        <div class="itinerary-info">
                                            <%= itinerary.destination %> by <%= itinerary.contributor.username %>
                                        </div>
                                    </a>
                                </div>
                                <% }) %>
                        </section>
            </main>
    </body>

</html>