<!DOCTYPE html>
<html lang="en">
<% include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="page-title">
                <h1>
                    <%= user.username %>
                </h1>
                <img src="<%= user.profileImage %>" class="profile-pic" />
                <div class="user-actions">
                    <a href="/itineraries/new" class="control-button">Add itinerary</a>
                </div>
            </section>
            <main class="page-content">
                <h2>My itineraries</h2>
                <ul>
                    <% myItineraries.forEach(itinerary=> { %>
                        <li>
                            <a href="/itineraries/<%= itinerary._id %>">
                                <%= itinerary.destination %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <h2>Saved</h2>
                <% if (likedItineraries.length===0) { %>
                    <p>You haven't saved any itineraries yet</p>
                    <% } %>
                        <ul>
                            <% likedItineraries.forEach(itinerary=> { %>
                                <li>
                                    <a href="/itineraries/<%= itinerary._id %>">
                                        <%= itinerary.destination %>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                        </ul>
            </main>
    </body>

</html>